.product-card {
    max-width: 12em;
    background-color: #fff;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.product-card img {
    max-width: 100%;
}

.product-card h4 {
    font-size: .867rem;
    margin: 0;
    color: rgb(255, 251, 243);
    font-weight: bold;
}

.price-and-add {
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card:hover {
    background-color: lightslategray;
    color: #fff;
}

.product-card:hover .add-button {
    color: #000;
    background-color: #fff;
}

@media screen and (max-width: 576px) {
    .product-card {
        font-size: 0.9em;
    }
}

.image-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
}